<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="indexx.css">
    <title>CLASES</title>
</head>
<body>
    <div class="navbar">
            <h4 class="navbar-element">MUSCULITO</h4>
        <div class="navbar">
            <h4 class="navbar-element">INICIO</h4>
            <h4 class="navbar-element">SEDES</h4>
            <h4 class="navbar-element">CLASES</h4>
            <h4 class="navbar-element">CONTACTO</h4>
            <h4 class="navbar-element">REGISTRO/LOGIN</h4>
        </div>
    </div>
    <img src="1.jpg">
    <div class="main-div">
        <h1 class="custon-title">CLASES PERSONALIZADAS</h1>
        <p class="description"> En Gimnasio Musculito contamos con clases adaptadas a tus necesidades y rutinas hechas a tu medida!</p>
    </div>
    <div class="contents">
        <h2> Contamos con clases de:</h2>
        <div class="row-image-desc">
            <img src="zumba.jpg" class="picture">
            <p class="long-desc descriptive-text">
                ZUMBA. Zumba es la disciplina del presente. Diversión, salud y estar en forma, TODO combinado con la mejor de las ondas.
            </p>
        </div>
        <h3 class="schedule descriptive-text">
            Lunes- Miércoles y Viernes: 18:00 hs.
        </h3>
    </div>
</body>
</html>